:root {
  /* Variables de color */
  --dark-blue-100: #609ed4;
  --dark-blue-200: #356ea9;
  --dark-blue-300: #0a3871;
  --dark-blue-400: #072b61;
  --dark-blue-500: #052051;
  --gray-100: #ced4da;
  --gray-200: #adb5bd;
  --gray-300: #868e96;
  --gray-400: #495057;
  --gray-500: #495057;
  --light-blue-100: #f3f5fc;
  --light-blue-200: #eff1fa;
  --light-blue-300: #e9ecf8;
  --light-blue-400: #aab2d5;
  --light-blue-500: #757fb2;
}
html {
  font-family: "Inter", sans-serif;
  background: var(--light-blue-100);
}
main{
  display: grid;
  grid-template-columns: 10% 60% 30%;
  margin: 0 auto;
}
#logo{
  position: relative;
  top: 40px;
  margin: 0 auto;
}
#principal{
  margin: 0 auto;
  display: inline-block;
}
#input{
  margin: 70px 30px;
  padding: 10px 10px;
  height: 60%;
  width: auto;
}
.input-text{
  border: 0;
  width: auto;
  height: 100%;
  margin: 0 auto;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  outline: none;
  background:var(--light-blue-100);
}
.principal-text{
  display: none;
  font-size: 32px;
  font-style: normal;
  color:var(--dark-blue-300);
  width: auto;
  margin-top: 120px;
  margin: 0, auto;
  position: relative;
}
.span-btn{
  color: var(--gray-400);
  display: block;
  font-size: 20px;
  font-weight: 400;
  line-height: 18px;
  margin: 10px 10px;
  padding-bottom: 20px;
}
.section-btn{
  display: flex;
  margin: 0 auto;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.btn{
  min-width: 350px;
  height: 64px;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  padding-left: 30px;
  border-radius: 24px;
  margin-right: 10px;
}
.encript{
  background: var(--dark-blue-300);
  color: white;
}
.decrypt{
  background: var(--gray-200);
  border: 1px solid var(--dark-blue-300);
  color: var(--dark-blue-300);
}
#panel-right{
  margin: 0,auto;
  width: auto;
}
#panel-right div{
  margin: 10% auto;
  padding: 40px;
  justify-content: center;
  align-items: center;
  background: white;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
}
#panel-right img{
  margin-top: 200px;
  width: auto;
  height:330px;
}
.text-encript{
  display: none;
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
  color:var(--gray-500);
  margin: 0,auto;
  padding: 20px;
}
.paragraph{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: var(--gray-400);
}

.message{
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  color: var(--gray-500);
}
.copy{
  display: none;
  background: var(--light-blue-200);
  border: 1px solid var(--dark-blue-300);
  color: var(--dark-blue-300);
  justify-content: center;
  align-items:center;
  margin-top: 300px;
  position: fixed;
  margin-left: 40px;
}

@media screen and (max-width:768px){
  main, #principal,#input #panel-right, #logo{
    width: auto;
    display: block;
    margin: 0 auto;
  }
  .input-text{
    height: 400px;
  }
  .input-text, .section-btn, .span-btn, .section-btn{
    width: 90%;
    margin: 0 auto;
    display: block;
  }
  .section-btn{
    display: flex;
    margin: 0 auto;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  .btn{
    min-width: 300px;
  }
  #panel-right{
    margin: 40px 20px;
    height: 30%;
  }
  #panel-right img{
    display: none;
  }
  #panel-right div{
    border-radius: 20px;
    margin: 0 auto;
    width: 90%;
  }
}

@media screen and (max-width:468px){
  .section-btn{
    flex-wrap: wrap;
  }
  .btn{
    min-width: 300px;
  }
}
